<div class="dropdown-tabs_menu-wrap u-hflex-center-stretch u-hflex-nowrap"><div data-hover="true" data-delay="0" class="dropdown-tabs_dropdown_component w-dropdown"><div class="dropdown-tabs_dropdown_toggle w-dropdown-toggle"><div class="li-settings w-embed"></div>
<div>All</div></div><nav class="dropdown-tabs_dropdown_list w-dropdown-list"><div class="dropdown-tabs_collections_list-wrapper w-dyn-list"><div role="list" class="dropdown-tabs_collections_list u-hflex-center-top u-gap-large u-hflex-nowrap w-dyn-items">{% for collection in block.settings.collection-list %}    <div li-for="collection in block.settings.collection-list" role="listitem" class="dropdown-tabs_collections_item w-dyn-item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="dropdown-tabs_collections_item-link u-vflex-center-top u-gap-xsmall w-inline-block"><img class="dropdown-tabs_collections_item-thumb aspect-ratio-square" src="{{ block.settings.image.src | img_url: '704x704' }}" alt="{{ block.settings.image.alt }}" sizes="100vw" li-object:src="block.settings.image.src | img_url: '704x704'" loading="lazy" li-object:alt="block.settings.image.alt" srcset="{{ 'magnurs_collection_necklaces.jpg' | asset_url }} 500w, {{ 'magnurs_collection_necklaces.jpg' | asset_url }} 620w">
<div li-object="collection.title" class="text-style-allcaps text-size-small text-weight-medium">{{ collection.title }}</div><div li-object="collection.description" class="text-size-small">{{ collection.description }}</div></a>
                            
                        </div>
{% endfor %}</div>{% if block.blocks == blank %}    <div li-if="block.blocks == blank" class="collection-empty w-dyn-empty">
    <div>No Collections Added</div>    </div>
{% endif %}</div></nav></div>{% for collection in block.settings.collection-list %}    <div data-hover="true" data-delay="0" li-for="collection in block.settings.collection-list" class="dropdown-tabs_dropdown_component w-dropdown">
                                    
                            <div class="dropdown-tabs_dropdown_toggle w-dropdown-toggle"><div class="li-settings w-embed"></div>
<div li-object="block.settings.group-title">{{ block.settings.group-title }}</div></div>
                            
                            <nav class="dropdown-tabs_dropdown_list w-dropdown-list"><div class="dropdown-tabs_collections_list-wrapper w-dyn-list"><div role="list" class="dropdown-tabs_collections_list u-hflex-center-top u-gap-large u-hflex-nowrap w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="dropdown-tabs_collections_item w-dyn-item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="dropdown-tabs_collections_item-link u-vflex-center-top u-gap-xsmall w-inline-block"><img src="{{ product.featured_image.src | img_url: '704x704' }}" loading="lazy" li-object:src="product.featured_image.src | img_url: '704x704'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" class="dropdown-tabs_collections_item-thumb aspect-ratio-square">
<div li-object="product.title" class="text-style-allcaps text-size-small text-weight-medium">{{ product.title }}</div></a>
                            
                        </div>
{% endfor %}</div>{% if block.blocks == blank %}    <div li-if="block.blocks == blank" class="collection-empty w-dyn-empty">
    <div>No Collections Added</div>    </div>
{% endif %}</div></nav>
                            
                        </div>
{% endfor %}</div>
