<div class="dropdown-tabs_menu-wrap u-hflex-center-stretch u-hflex-nowrap">{% for block in section.blocks %}
    {% if block.type == "tab" %}
                    <div data-hover="false" data-delay="0" li-block="Tab" class="dropdown-tabs_dropdown_component w-dropdown">
                                    <div class="dropdown-tabs_dropdown_toggle w-dropdown-toggle"><div class="li-settings w-embed"></div>
<div li-object="block.settings.group-title">{{ block.settings.group-title }}</div></div>
                                    <nav class="dropdown-tabs_dropdown_list w-dropdown-list"><div class="w-layout-blockcontainer container-medium w-container"><div class="dropdown-tabs_collections_list-wrapper w-dyn-list"><div role="list" class="dropdown-tabs_collections_list u-hflex-center-top u-gap-large u-hflex-nowrap w-dyn-items">{% for block in section.blocks %}
    {% if block.type == "collection" %}
                    <div li-block="Collection" role="listitem" class="dropdown-tabs_collections_item w-dyn-item">
                                    <div class="li-settings w-embed"></div>

                                    <div class="li-settings w-embed"></div>

                                    <a href="#" class="dropdown-tabs_collections_item-link u-vflex-center-top u-gap-xsmall w-inline-block"><img class="dropdown-tabs_collections_item-thumb aspect-ratio-square" src="{{ block.settings.image.src | img_url: '704x704' }}" alt="{{ block.settings.image.alt }}" sizes="(max-width: 991px) 100vw, 28vw" li-object:src="block.settings.image.src | img_url: '704x704'" loading="lazy" li-object:alt="block.settings.image.alt" srcset="{{ 'magnurs_collection_necklaces.jpg' | asset_url }} 500w, {{ 'magnurs_collection_necklaces.jpg' | asset_url }} 620w">
<div li-object="block.settings.title" class="text-style-allcaps text-size-small text-weight-medium">{{ block.settings.title }}</div><div li-settings="Description" class="text-size-small">
</div>
</a>
                            </div>
            {% endif %}
{% endfor %}
</div>{% if block.blocks == blank %}    <div li-if="block.blocks == blank" class="collection-empty w-dyn-empty">
    <div>No Collections Added</div>    </div>
{% endif %}</div></div></nav>
                            </div>
            {% endif %}
{% endfor %}
</div>
