<div data-hover="false" data-delay="0" class="nav_icon-dropdown w-dropdown"><div class="nav_icon-dropdown_toggle w-dropdown-toggle"><div class="nav_icon-dropdown_icon icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M22 22L20 20M2 11.5C2 6.25329 6.25329 2 11.5 2C16.7467 2 21 6.25329 21 11.5C21 16.7467 16.7467 21 11.5 21C6.25329 21 2 16.7467 2 11.5Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg></div><div class="nav_icon-dropdown_label">Search</div></div><nav class="nav_mini-cart_holder w-dropdown-list"><div li-element="dropdown-toggle" class="mini-cart_overlay" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div><div class="mini-cart_component"><div class="mini-cart_header"><div class="heading-style-h3">Search</div><div li-element="mini-cart-toggle" class="predictive-search_close w-embed" @click="$dispatch('cartupdated.window')"><svg width="15" height="15" viewbox="0 0 15 15" fill="none"><path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path></svg></div></div><predictive-search class="mini-cart_wrapper"><div class="mini-cart_search-wrapper"><input type="search" id="suche" placeholder="Search" class="input">
</div><div li-section="predictive_search" class="mini-cart_content u-vflex-stretch-top u-gap-xlarge">{% if predictive_search.performed %}    <div li-if="predictive_search.performed" class="li-if">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
<div class="u-vflex-stretch-top u-gap-xlarge">{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0" class="li-if">
    <div class="u-vflex-stretch-top u-gap-xlarge">{% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Suggestions</div></div><ul role="list" class="mini-cart_line-item_list is-small w-list-unstyled">{% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="mini-cart_line-item_item is-small">
                                    
                            <a li-object:href="query.url" href="{{ query.url }}" class="predictive-search_link w-inline-block"><div li-object="query.styled_text">{{ query.styled_text }}</div></a>
                            
                        </li>
{% endfor %}{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="mini-cart_line-item_item is-small">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="predictive-search_link w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Products</div></div><ul role="list" class="mini-cart_line-item_list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="mini-cart_line-item_item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="mini-cart_line-item_item-layout u-hflex-left-center u-gap-medium u-hflex-nowrap w-inline-block"><img li-object:src="product.featured_media | image_url: width: 150" li-object:alt="product.featured_image.alt" src="{{ product.featured_media | image_url: width: 150 }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="mini-cart_line-item_img aspect-ratio-square">
<div class="mini-cart_line-item_product-info"><div li-object="product.title" class="text-size-regular text-weight-medium">{{ product.title }}</div><div class="mini-cart_line-item_price u-hflex-left-center u-gap-xxsmall"><div li-object="product.price | money" class="text-size-small">{{ product.price | money }}</div>{% if product.compare_at_price != blank %}    <div li-if="product.compare_at_price != blank" class="li-if">
    <div li-object="product.compare_at_price | money" class="text-size-small text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}</div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Pages</div></div><ul role="list" class="mini-cart_line-item_list is-small w-list-unstyled">{% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="mini-cart_line-item_item is-small">
                                    
                            <a li-object:href="page.url" href="{{ page.url }}" class="predictive-search_link w-inline-block"><div li-object="page.title">{{ page.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}</div>    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0" class="li-if">
    <div class="predictive-search_topic"><div class="text-style-muted">Nothing found in "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}</div>    </div>
{% endif %}{% unless predictive_search.performed %}    <div li-unless="predictive_search.performed" class="li-if">
    <div class="u-vflex-stretch-top u-gap-xlarge"><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted">Suggestions</div></div><ul role="list" class="mini-cart_line-item_list is-small w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "suggested-link-in-search" %}
                    <li li-block="Suggested Link in Search" class="mini-cart_line-item_item is-small">
                                    <a class="predictive-search_link w-inline-block" href="{{ block.settings.url_link }}"> <div>{{ block.settings.text_text }}</div> </a>

                            </li>
            {% endif %}
{% endfor %}
</ul></div><div class="predictive-search_topic"><div class="predictive-search_headline"><div li-settings="Search Featured Collection Title" class="text-style-muted">
</div>
</div><ul role="list" class="mini-cart_line-item_list w-list-unstyled">{% for product in section.settings.collection_search_featured_collection.products limit: section.settings.collection_search_featured_collection_limit %}
<li class="mini-cart_line-item_item">
    
    <a li-object:href="product.url" href="{{ product.url }}" class="mini-cart_line-item_item-layout u-hflex-left-center u-gap-medium w-inline-block"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="mini-cart_line-item_img aspect-ratio-square">
<div class="mini-cart_line-item_product-info"><div li-object="product.title" class="text-size-regular text-weight-medium">{{ product.title }}</div><div class="mini-cart_line-item_price u-hflex-left-center u-gap-xxsmall"><div li-object="product.price | money" class="text-size-small">{{ product.price | money }}</div>{% if product.compare_at_price != blank %}    <div li-if="product.compare_at_price != blank" class="li-if">
    <div li-object="product.compare_at_price | money" class="text-size-small text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}</div></div></a>
    
</li>
{% endfor %}
</ul></div></div>    </div>
{% endunless %}</div></predictive-search></div></nav></div>
