<div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div class="w-layout-grid auth_layout"><div class="auth_content"><div data-duration-in="300" data-duration-out="100" id="w-node-a1ceb44a-b8cb-2c93-169d-8a1bedb58b7a-78ccc164" data-current="Tab 1" data-easing="ease" class="login-tabs_component w-tabs"><div class="login-tabs_content w-tab-content"><div data-w-tab="Tab 1" class="login-tabs_tab-pane w-tab-pane w--tab-active"><div class="login-form_component u-vflex-stretch-top u-gap-large w-form"><div class="login-form_heading-wrapper u-vflex-left-top u-gap-medium"><h1 li-settings="Login Heading" class="heading-style-h2">
</h1>
{% if section.settings.checkbox_show_login_description == true %}
<div class="li-settings"><p li-settings="Login Description">
</p>
</div>{% endif %}
{% if form.errors %}    <div li-if="form.errors" class="li-if">
    <div li-object="form.errors | default_errors" class="text-color-error">{{ form.errors | default_errors }}</div>    </div>
{% endif %}</div>{% form 'customer_login', return_to: '/account', class: 'login-form_form u-vflex-left-top u-gap-large' %}
<div class="form_field-wrapper"><input class="input w-input" maxlength="256" name="customer[email]" data-name="" placeholder="E-Mail-Address" type="email" id="field">
</div><div class="form_field-wrapper"><input class="input w-input" maxlength="256" name="customer[password]" data-name="" placeholder="Password" type="password" id="field-2" required="">
</div><input type="submit" data-wait="Please Wait" id="w-node-a1ceb44a-b8cb-2c93-169d-8a1bedb58b87-78ccc164" class="button w-button" value="Login">
<div>No account yet? <a href="{{ routes.account_register_url }}" li-object:href="routes.account_register_url" class="text-style-link text-weight-bold">Sign up now</a></div>{% endform %}
<div class="hide w-form-done"></div><div class="hide w-form-fail"></div></div></div><div data-w-tab="Tab 2" class="login-tabs_tab-pane w-tab-pane"><div class="login-form_component u-vflex-stretch-top u-gap-large w-form"><div class="login-form_heading-wrapper u-vflex-stretch-top u-gap-medium"><h2 li-settings="Reset Heading" class="heading-style-h2">
</h2>
{% if section.settings.checkbox_show_reset_description == true %}
<div class="li-settings"><p li-settings="Reset description">
</p>
</div>{% endif %}
</div>{% form 'recover_customer_password', class: 'form_form u-vflex-left-top u-gap-medium' %}
<div class="form_field-wrapper"><input class="input w-input" maxlength="256" name="email" data-name="" placeholder="E-Mail-Address" type="email" id="field-3">
</div><input type="submit" data-wait="Please wait..." class="button w-button" value="Reset">
{% endform %}
<div class="hide w-form-done"></div><div class="hide w-form-fail"></div></div></div></div><div class="login-tabs_menu w-tab-menu"><a data-w-tab="Tab 1" class="login-tabs_link w-inline-block w-tab-link w--current"><div class="text-style-link text-weight-bold">Login</div></a><a data-w-tab="Tab 2" class="login-tabs_link w-inline-block w-tab-link"><div>Forgot password? <span class="text-style-link text-weight-bold">Reset now</span></div></a></div></div></div><div id="w-node-a1ceb44a-b8cb-2c93-169d-8a1bedb58bab-78ccc164" class="auth_image-wrap"><img class="auth_image"
     alt="{{ section.settings.image_image.alt }}"

     class="auth_image" src="{{ section.settings.image_image | img_url: 'master' }}" alt="{{ section.settings.image_image.alt }}" sizes="50vw" id="w-node-a1ceb44a-b8cb-2c93-169d-8a1bedb58bac-78ccc164" loading="lazy"}
>
</div></div></div></div> {% schema %} {"tag":"section","name":"Auth Login and Passw","class":"section_auth","settings":[{"id":"checkbox_show_login_description","type":"checkbox","label":"Show login description","default":true},{"id":"checkbox_show_reset_description","type":"checkbox","label":"Show Reset Description","default":true},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"Auth Login and Passw","category":"Liquify"}]} {% endschema %}