<div class="padding-global padding-section-small"><div class="container-large"><div class="blog_list-wrapper w-dyn-list"><div role="list" class="all-collections_list w-dyn-items">{% for article in blog.articles %}    <div li-for="article in blog.articles" role="listitem" class="blog_item w-dyn-item">
                                    
                            <a li-object:href="article.url" href="{{ article.url }}" class="collection-slider_item-component u-vflex-left-top u-gap-xxsmall w-inline-block"><h3 li-object="article.title" class="heading-style-h4 text-color-brand">{{ article.title }}</h3><div id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7be-4b06a7bd" class="collection-slider_thumb-wrap"><img src="{{ article.image | img_url: 'master' }}" loading="lazy" id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7bf-4b06a7bd" li-object:src="article.image | img_url: 'master'" alt="{{ article.image.alt }}" li-object:alt="article.image.alt" class="collection-slider_thumb-img">
<div class="blog_tags u-hflex-left-top u-gap-small">{% for tags in article.tags %}    <div li-for="tags in article.tags">
                                    
                            <div li-object="tag" class="product-card_tag">{{ tag }}</div>
                            
                        </div>
{% endfor %}</div></div></a>
                            
                        </div>
{% endfor %}</div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div> {% schema %} {"tag":"section","name":"Blog Articles List","class":"section_blog-list","presets":[{"name":"Blog Articles List","category":"Liquify"}]} {% endschema %}