<div class="section-custom-code w-embed w-script"><script>var assetsToLoad = [
        { key: "swiper", src: "https://unpkg.com/swiper/swiper-bundle.min.js", defer: true, type: "script" },
        { key: "swiperCSS", src: "https://unpkg.com/swiper/swiper-bundle.min.css", type: "stylesheet" }
    ];
    function loadAssets(assets) {
        assets.forEach(asset => {
            if (!window[asset.key]) {
                window[asset.key] = false;
                if (asset.type === "script") {
                    let script = document.createElement("script");
                    script.src = asset.src;
                    script.defer = asset.defer || false;
                    script.onload = function () {
                        window[asset.key] = true;
                    };
                    document.head.appendChild(script);
                } else if (asset.type === "stylesheet") {
                    let link = document.createElement("link");
                    link.rel = "stylesheet";
                    link.href = asset.src;
                    link.onload = function () {
                        window[asset.key] = true;
                    };
                    document.head.appendChild(link);
                }
            }
        });
    }
    loadAssets(assetsToLoad);
    document.addEventListener('DOMContentLoaded', function() {
        // Wait for Swiper to be loaded
        function initSwiper() {
            if (window.Swiper) {
                const swiper = new Swiper(`#{{section.id}}-{{section.index}}-slider`, {
                    slidesPerView: 'auto',
                    freeMode: true,
                    freeModeMomentumBounce: true,
                    freeModeMomentumBounceRatio: 1,
                    grabCursor: true,
                    loop: true,
                    navigation: {
                        nextEl: `#{{section.id}}-{{section.index}}-nextSliderArrow`,
                        prevEl: `#{{section.id}}-{{section.index}}-prevSliderArrow`
                    },
                });
            } else {
                // If Swiper is not loaded yet, try again after a short delay
                setTimeout(initSwiper, 100);
            }
        }
        initSwiper();
    });
</script></div><div class="padding-global padding-section-medium"><div class="w-layout-blockcontainer container-large w-container"><div class="feat-colect-slider_layout u-vflex-center-top u-gap-medium"><div class="feat-colect-slider_list-wrapper swiper-container w-dyn-list" id="{{section.id}}-{{section.index}}-slider"><div role="list" class="feat-colect-slider_list swiper-wrapper w-dyn-items">{% for block in section.blocks %}
    {% if block.type == "collection" %}
                    <div li-block="Collection" role="listitem" class="feat-colect-slider_item swiper-slide w-dyn-item">
                                    <div class="feat-colect-slider_item-layout u-vflex-center-top u-gap-medium"><div class="li-settings w-embed"></div>
<div class="li-settings w-embed"></div>
<div class="section-collection-heading_component"><div class="section-colect-heading_heading-wrap u-vflex-center-center"><h2 li-object="block.settings.collection.title" class="text-color-brand">{{ block.settings.collection.title }}</h2><div>Collection</div></div><div class="section-colect-heading_line"></div></div><div class="feat-colect-slider_image-wrap"><img src="{{ block.settings.image.src | img_url: '2560x2560' }}" loading="lazy" li-object:src="block.settings.image.src | img_url: '2560x2560'" li-object:alt="block.settings.image.alt" alt="{{ block.settings.image.alt }}" class="feat-colect-slider_image w-dyn-bind-empty">
</div><div class="feat-colect-slider_description-wrap max-width-large text-align-center"><div class="rich-text-accented text-size-medium w-dyn-bind-empty w-richtext"> {{ block.settings.richtext_description }} </div>
<div class="padding-top padding-small"><a li-object:href="block.settings.collection.url" href="{{ block.settings.collection.url }}" class="text-style-link text-weight-bold text-color-brand">Explore</a></div></div></div>
                            </div>
            {% endif %}
{% endfor %}
</div>{% if section.blocks == blank %}    <div li-if="section.blocks == blank" class="collection-empty w-dyn-empty">
    <div>No items found.</div>    </div>
{% endif %}</div><div class="feat-colect-slider_nav"><button class="slider-arrow" id="{{section.id}}-{{section.index}}-prevSliderArrow"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M10 16L6 12M6 12L10 8M6 12L18 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></button><button class="slider-arrow" id="{{section.id}}-{{section.index}}-nextSliderArrow"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M14 8L18 12M18 12L14 16M18 12L6 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></button></div></div></div></div> {% schema %} {"tag":"section","name":"collection_slider","class":"section_feat-colect-slider","blocks":[{"name":"Collection","type":"collection","settings":[{"id":"collection","type":"collection","label":"Collection"},{"id":"image","type":"image_picker","label":"Image"},{"id":"richtext_description","type":"richtext","label":"Description","default":"<p><\/p>"}]}],"presets":[{"name":"collection_slider","category":"Liquify"}]} {% endschema %}