<div class="padding-global padding-section-medium"><div class="w-layout-blockcontainer container-large w-container"><div class="feat-colect-slider_layout u-vflex-center-top u-gap-medium"><div class="feat-colect-slider_list-wrapper swiper-container w-dyn-list"><div role="list" class="feat-colect-slider_list swiper-wrapper w-dyn-items">{% for block in section.blocks %}
    {% if block.type == "collection" %}
                    <div li-block="Collection" role="listitem" class="feat-colect-slider_item swiper-slide w-dyn-item">
                                    <div class="li-settings w-embed"></div>

                                    <div class="section-collection-heading_component"><div class="section-colect-heading_heading-wrap u-vflex-center-center"><h2 li-object="block.settings.collection.title" class="text-color-brand">{{ block.settings.collection.title }}</h2><div>Collection</div></div><div class="section-colect-heading_line"></div></div>
                                    <div class="feat-colect-slider_image-wrap"><img src="{{ block.settings.image.src | img_url: '1280x1280' }}" loading="lazy" li-object:src="block.settings.image.src | img_url: '1280x1280'" li-object:alt="block.settings.image.alt" alt="{{ block.settings.image.alt }}" class="feat-colect-slider_image w-dyn-bind-empty">
</div>
                                    <div class="feat-colect-slider_description-wrap max-width-large text-align-center"><div class="rich-text-accented text-size-medium w-dyn-bind-empty w-richtext"> {{ block.settings.richtext_description }} </div>
<a li-object:href="block.settings.collection.url" href="{{ block.settings.collection.url }}" class="feat-colect-slider_link text-size-medium text-color-brand text-weight-semibold">Explore</a></div>
                            </div>
            {% endif %}
{% endfor %}
</div>{% if section.blocks == blank %}    <div li-if="section.blocks == blank" class="collection-empty w-dyn-empty">
    <div>No items found.</div>    </div>
{% endif %}</div></div></div></div> {% schema %} {"tag":"section","name":"collection_slider","class":"section_feat-colect-slider","blocks":[{"name":"Collection","type":"collection","settings":[{"id":"richtext_description","type":"richtext","label":"Description","default":"<p><\/p>"}]}],"presets":[{"name":"collection_slider","category":"Liquify"}]} {% endschema %}