<div class="padding-global"><div class="w-layout-blockcontainer container-medium w-container"><div class="w-layout-grid contact_layout">{% if section.settings.checkbox_show_details == true %}
<div id="w-node-_7c0ca0b1-08d4-6697-0dc0-7450d3fc7c5a-78ccc15f" class="contact_content-wrap u-vflex-stretch-center u-gap-xlarge"><div class="text-weight-medium"> {{ section.settings.richtext_description }} </div>
<ul role="list" class="contact_contacts-grid w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "contact" %}
                    <li li-block="Contact" class="contact_contacts-item">
                                    <div class="li-settings w-embed"></div>

                                    <div class="contact_heading-wrap"><h2 li-object="block.settings.heading" class="heading-style-h4 text-color-brand text-weight-semibold">{{ block.settings.heading }}</h2></div>
                                    <div class="text-rich-text text-weight-medium w-richtext"> {{ block.settings.richtext_details }} </div>

                            </li>
            {% endif %}
{% endfor %}
</ul></div>{% endif %}
<div id="w-node-fc040479-f469-17e6-4116-24f85d6b36ca-78ccc15f" class="contact-form_component u-vflex-stretch-top u-gap-medium w-form"><div class="login-form_heading-wrapper"><h2 class="text-color-brand">
{{ section.settings.text_headline }}
</h2>
</div>{% form 'contact', return_to: '/', class: 'contact-form_form u-vflex-left-top u-gap-large' %}
<div class="form_field-wrapper"><input class="input w-input" maxlength="256" name="contact[first_name]" data-name="First Name" placeholder="First name*" type="text" id="First-Name" required="">
<input class="input w-input" maxlength="256" name="contact[last_name]" data-name="Last Name" placeholder="Last name*" type="text" id="Last-Name" required="">
</div><div class="form_field-wrapper"><input class="input w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="Email address*" type="email" id="Email" required="">
<input class="input w-input" maxlength="256" name="contact[phone]" data-name="Phone" placeholder="Phone number" type="tel" id="Phone">
</div><textarea class="input is-text-area w-input" maxlength="5000" name="contact[body]" data-name="Message" placeholder="Message*" id="Message" required=""></textarea><div class="form_field-wrapper"><label id="Contact-5-Checkbox" class="w-checkbox checkbox_component" name="contact[checkbox]"><div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_button"></div><input type="checkbox" name="Checkbox" id="Checkbox" data-name="Checkbox" required="" style="opacity:0;position:absolute;z-index:-1">
<span for="Checkbox" class="checkbox_label text-size-small w-form-label">I accept the <a href="{{ shop.terms_of_service.url }}" li-object:href="shop.terms_of_service.url" class="text-style-link">Terms of service</a></span></label></div><input type="submit" data-wait="Please wait..." id="w-node-fc040479-f469-17e6-4116-24f85d6b36df-78ccc15f" class="button w-button" value="Submit">
{% endform %}
<div class="success-message w-form-done"><div class="success-text">Thank you! Your submission has been received!</div></div><div class="error-message w-form-fail"><div class="error-text">Oops! Something went wrong while submitting the form.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Contact","class":"section_contact","blocks":[{"name":"Contact","type":"contact","settings":[{"id":"heading","type":"text","label":"Heading","default":"Heading"},{"id":"richtext_details","type":"richtext","label":"Details","default":"<p>\n                      611 5th Ave,\n                      New York, NY 10022,\n                      United States of America\n                    <\/p>"}]}],"settings":[{"id":"checkbox_show_details","type":"checkbox","label":"Show details","default":true},{"id":"richtext_description","type":"richtext","label":"Description","default":"<p>Our team of experts is ready to assist you with any support you may need, whether it\u2019s help with your orders, style guidance, or gift suggestions. Don\u2019t hesitate to reach out to us through one of the channels below:<\/p>"},{"id":"text_headline","type":"text","label":"Headline","default":"GENERAL INQUIRIES"}],"presets":[{"name":"Contact","category":"Liquify"}]} {% endschema %}