<div class="padding-global padding-section-small"><div class="w-layout-blockcontainer container-large w-container"><div class="footer_layout"><ul id="w-node-_64d52233-76b6-b749-271c-49f76e54f592-cf39daf1" role="list" class="footer-menu w-list-unstyled">{% for link in linklists['footer'].links %}    <li li-for="link in linklists['footer'].links" class="footer-menu_column u-vflex-left-top u-gap-xsmall">
                                    
                            <div li-object="link.title" class="footer-menu_column-header text-weight-bold text-style-allcaps">{{ link.title }}</div>
                            
                            <div class="footer-menu_column-list u-vflex-left-top u-gap-xxsmall">{% for child_link in link.links %}    <div li-for="child_link in link.links" class="footer-menu_nav-link-wrap u-hflex-left-center u-gap-small u-hflex-nowrap">
                                    
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="footer-menu_nav-link text-style-allcaps text-size-small">{{ child_link.title }}</a>
                            
                            <div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 8 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><g clip-path="url(#clip0_3_4159)"><g clip-path="url(#clip1_3_4159)"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.266 1.254L0.624 7.896C0.5539 7.96276 0.460805 8 0.364 8C0.267195 8 0.1741 7.96276 0.104 7.896C0.0372381 7.8259 0 7.7328 0 7.636C0 7.5392 0.0372381 7.4461 0.104 7.376L6.746 0.734H3.023C2.93035 0.727156 2.84371 0.685519 2.78048 0.617447C2.71725 0.549375 2.68211 0.459907 2.68211 0.367C2.68211 0.274093 2.71725 0.184625 2.78048 0.116553C2.84371 0.0484814 2.93035 0.00684451 3.023 0L8 0V4.977C7.99316 5.06965 7.95152 5.15629 7.88345 5.21952C7.81537 5.28275 7.72591 5.31789 7.633 5.31789C7.54009 5.31789 7.45062 5.28275 7.38255 5.21952C7.31448 5.15629 7.27284 5.06965 7.266 4.977V1.254Z" fill="currentColor"></path></g></g><defs><clippath id="clip0_3_4159"><rect width="8" height="8" fill="currentColor"></rect></clippath><clippath id="clip1_3_4159"><rect width="8" height="8" fill="currentColor"></rect></clippath></defs></svg></div>
                            
                        </div>
{% endfor %}</div>
                            
                        </li>
{% endfor %}</ul><div id="w-node-_9a46b90c-990e-88da-b71e-fad9ed4846bb-cf39daf1" class="footer_logo-wrap"><div class="li-settings w-embed"></div>
<img src="{{ section.settings.logo.src | img_url: '360x360' }}" loading="lazy" li-object:src="section.settings.logo.src | img_url: '360x360'" li-object:alt="section.settings.alt" alt="{{ section.settings.alt }}" class="footer_logo-img">
</div></div></div></div><div class="footer_credit-wrap"><div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div>Copyright © <span id="copyright-year" li-object="'now' | date: '%Y' | append: ' '">{{ 'now' | date: '%Y' | append: ' ' }}</span>Magnurs, LLC. All Rights Reserved</div></div></div></div> {% schema %} {"tag":"div","name":"footer","class":"section_footer","settings":[{"id":"logo","type":"image_picker","label":"Logo"}],"presets":[{"name":"footer","category":"Liquify"}]} {% endschema %}