<div class="section-custom-code w-embed w-script"><script>var assetsToLoad = [
        { key: "swiper", src: "https://unpkg.com/swiper/swiper-bundle.min.js", defer: true, type: "script" },
        { key: "swiperCSS", src: "https://unpkg.com/swiper/swiper-bundle.min.css", type: "stylesheet" }
    ];
    function loadAssets(assets) {
        assets.forEach(asset => {
            if (!window[asset.key]) {
                window[asset.key] = false;
                if (asset.type === "script") {
                    let script = document.createElement("script");
                    script.src = asset.src;
                    script.defer = asset.defer || false;
                    script.onload = function () {
                        window[asset.key] = true;
                    };
                    document.head.appendChild(script);
                } else if (asset.type === "stylesheet") {
                    let link = document.createElement("link");
                    link.rel = "stylesheet";
                    link.href = asset.src;
                    link.onload = function () {
                        window[asset.key] = true;
                    };
                    document.head.appendChild(link);
                }
            }
        });
    }
    loadAssets(assetsToLoad);
    document.addEventListener('DOMContentLoaded', function() {
        // Wait for Swiper to be loaded
        function initSwiper() {
            if (window.Swiper) {
                const swiper = new Swiper(`#{{section.id}}-{{section.index}}-slider`, {
                    slidesPerView: 'auto',
                    grabCursor: true,
                    navigation: {
                        nextEl: `#{{section.id}}-{{section.index}}-nextSliderArrow`,
                        prevEl: `#{{section.id}}-{{section.index}}-prevSliderArrow`
                    },
                });
            } else {
                // If Swiper is not loaded yet, try again after a short delay
                setTimeout(initSwiper, 100);
            }
        }
        initSwiper();
    });
</script></div><div class="w-layout-blockcontainer container-large w-container"><div id="w-node-_128188fa-2c05-e456-c67d-b7711966b0b7-78ccc150" class="main-hero_layout"><div id="{{section.id}}-{{section.index}}-slider" class="main-hero_slider_component swiper-container"><div id="w-node-_5795ff0a-4edf-cdf6-b723-4380a2e5f05d-78ccc150" class="main-hero_slider_wrap swiper-wrapper">{% for block in section.blocks %}
    {% if block.type == "slide" %}
                    <div li-block="Slide" id="w-node-_33c77184-a5f3-20db-8076-e739439b27f6-78ccc150" class="main-hero_slider_slide image-animation_wrap swiper-slide">
                                    <img class="main-hero_bg-image image-animation_image" src="{{ block.settings.image_header_image.url | img_url: '2560x2560' }}" alt="{{ block.settings.image_header_image.alt }}" sizes="(max-width: 479px) 97vw, (max-width: 991px) 98vw, 100vw" li-object:src="block.settings.image_header_image.url | img_url: '2560x2560'" id="w-node-_997695eb-325e-2a15-c431-1a98c6e2d5ac-78ccc150" loading="lazy" li-object:alt="block.settings.image_header_image.alt" srcset="{{ 'Magnurs_main-hero_image_1-p-500.webp' | asset_url }} 500w, {{ 'Magnurs_main-hero_image_1-p-800.webp' | asset_url }} 800w, {{ 'Magnurs_main-hero_image_1-p-1080.webp' | asset_url }} 1080w, {{ 'Magnurs_main-hero_image_1-p-1600.webp' | asset_url }} 1600w, {{ 'Magnurs_main-hero_image_1.webp' | asset_url }} 1920w">

                            </div>
            {% endif %}
{% endfor %}
</div></div><div class="feat-colect-slider_nav text-color-white"><div class="main-hero_down-icon-wrap u-vflex-center-center"><a href="#main" class="main-hero_down-icon u-vflex-center-center w-inline-block"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M16 14L12 18M12 18L8 14M12 18L12 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></a></div><button class="slider-arrow" id="{{section.id}}-{{section.index}}-prevSliderArrow"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M10 16L6 12M6 12L10 8M6 12L18 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></button><button class="slider-arrow" id="{{section.id}}-{{section.index}}-nextSliderArrow"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M14 8L18 12M18 12L14 16M18 12L6 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></button></div></div><div class="padding-global"><div class="main-hero_content u-vflex-center-center padding-vertical padding-medium"><div id="main-hero-description" class="main-hero_text-wrap max-width-large text-align-center"><div id="main" class="main-hero_description-anchor"></div><div class="rich-text-accented text-size-medium text-weight-normal"> {{ section.settings.richtext_heading }} </div>
<div class="text-size-medium"> {{ section.settings.richtext_description }} </div>
<div class="padding-top padding-small"><a li-settings="Link Text" href="{{ section.settings.url_link_url }}" class="text-style-link text-weight-bold text-color-brand"> DISCOVER THE BRAND </a>
</div></div></div></div></div> {% schema %} {"tag":"section","name":"Main-Hero","class":"section_main-hero","blocks":[{"name":"Slide","type":"slide","settings":null}],"settings":[{"id":"richtext_heading","type":"richtext","label":"Heading","default":"<p><strong>MAGNURS<\/strong> is redefining luxury jewellery with a bold, modern approach.<\/p>"},{"id":"richtext_description","type":"richtext","label":"Description","default":"<p>Our lab-grown diamonds offer unmatched brilliance and quality, focusing on sustainability and ethical sourcing. Designed for those who dare to stand out, MAGNURS is for the trendsetters and trailblazers who value innovation and individuality.<\/p>"},{"id":"url_link_url","type":"url","label":"Link URL"}],"presets":[{"name":"Main-Hero","category":"Liquify"}]} {% endschema %}