<div data-animation="default" class="nav_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="1f4a994c-7640-c194-e1f7-4193b5553f7b" role="banner" data-duration="400" x-data=""><div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div id="w-node-_662ca8a0-af94-7e72-a536-3d3eaaf7784a-b641c10b" class="nav_shadow-wrap"><div id="w-node-c4c99a56-13ab-5d19-9171-2bb448652f0b-b641c10b" class="nav_shadow-inner-wrap container-large"><div id="w-node-_17e0302b-bd09-5dde-e2e0-a1c8fd30dc31-b641c10b" class="nav_shadow"></div></div></div><div class="nav_spacer"></div><div class="nav_layout"><div id="w-node-e0ea3ad8-52af-5271-d5bb-18207fa66f0e-b641c10b" class="nav_left">{% render 'predictive_search' %}
</div><div class="nav_center"><div class="nav_center-spacer"></div><div id="w-node-_04356bfa-2020-97b7-1c93-392a83cba41d-b641c10b" class="nav_logo-wrap u-hflex-center-center"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" id="w-node-_1f4a994c-7640-c194-e1f7-4193b5553f7d-b641c10b" class="nav_logo-link w-nav-brand"><img src="{{ shop.brand.logo.src | img_url: '256x256' }}" loading="lazy" li-object:src="shop.brand.logo.src | img_url: '256x256'" li-object:alt="shop.brand.logo.alt" alt="{{ shop.brand.logo.alt }}" class="nav_logo-img">
</a></div><nav role="navigation" id="w-node-_1f4a994c-7640-c194-e1f7-4193b5553f7f-b641c10b" class="nav_menu w-nav-menu"><div class="nav_spacer"></div><div class="nav_menu-list u-hflex-center-stretch">{% for block in section.blocks %}
    {% if block.type == "dropdown" %}
                    <div data-hover="true" data-delay="200" li-block="Dropdown" class="nav_menu-dropdown w-dropdown">
                                    <div class="nav_dropdown-toggle w-dropdown-toggle"><div class="nav_link-label">
{{ block.settings.text_title }}
</div>
</div>
                                    <nav class="nav_dropdown-list w-dropdown-list"><div class="container-large"><div class="nav_dropdown-layout"></div></div></nav>
                            </div>
            {% endif %}
{% endfor %}
</div></nav></div><div class="nav_right-side u-hflex-right-stretch u-gap-large u-hflex-nowrap">{% if shop.customer_accounts_optional %}    <div li-if="shop.customer_accounts_optional" class="li-if">
    <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="nav_icon-dropdown_toggle w-inline-block"><div class="nav_icon-dropdown_label">Register / Login</div></a>    </div>
{% endif %}{% render 'mini_cart' %}
</div><div class="nav_menu-button w-nav-button"><div class="menu-icon"><div class="menu-icon_line-top"></div><div class="menu-icon_line-middle"><div class="menu-icon_line-middle-inner"></div></div><div class="menu-icon_line-bottom"></div></div></div></div></div></div></div><div data-w-id="7a248e53-24e4-5d10-f026-208b4625508d" class="nav_animation-trigger"></div><div class="color-metafield-styles hide w-embed"><style>{% for item in metafields.shopify--color-pattern %}
    [data-color="{{ item.label.value }}"] {
      background-color: {{ item.color.value }};
    }
  {% endfor %}
</style></div> {% schema %} {"tag":"div","name":"navbar","class":"section_navbar","blocks":[{"name":"Suggested Link in Search","type":"suggested-link-in-search","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"text_text","type":"text","label":"Text","default":"Tag"}]},{"name":"Dropdown","type":"dropdown","settings":[{"id":"text_title","type":"text","label":"Title","default":"Link"}]}],"settings":[{"id":"collection_search_featured_collection","type":"collection","label":"Search Featured Collection"},{"type":"range","id":"collection_search_featured_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Search Featured Collection","default":6}],"presets":[{"name":"navbar","category":"Liquify"}]} {% endschema %}