<div data-animation="default" class="nav_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="1f4a994c-7640-c194-e1f7-4193b5553f7b" role="banner" data-duration="400" x-data=""><div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div id="w-node-_662ca8a0-af94-7e72-a536-3d3eaaf7784a-b641c10b" class="nav_shadow-wrap"><div id="w-node-c4c99a56-13ab-5d19-9171-2bb448652f0b-b641c10b" class="nav_shadow-inner-wrap container-large"><div id="w-node-_17e0302b-bd09-5dde-e2e0-a1c8fd30dc31-b641c10b" class="nav_shadow"></div></div></div><div class="nav_spacer"></div><div class="nav_layout"><div id="w-node-e0ea3ad8-52af-5271-d5bb-18207fa66f0e-b641c10b" class="nav_left">{% render 'predictive_search' %}
</div><div class="nav_center"><div class="nav_center-spacer"></div><div id="w-node-_04356bfa-2020-97b7-1c93-392a83cba41d-b641c10b" class="nav_logo-wrap u-hflex-center-center"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" id="w-node-_1f4a994c-7640-c194-e1f7-4193b5553f7d-b641c10b" class="nav_logo-link w-nav-brand"><img src="{{ shop.brand.logo.src | img_url: '512x512' }}" loading="lazy" li-object:src="shop.brand.logo.src | img_url: '512x512'" li-object:alt="shop.brand.logo.alt" alt="{{ shop.brand.logo.alt }}" class="nav_logo-img">
</a></div><nav role="navigation" id="w-node-_1f4a994c-7640-c194-e1f7-4193b5553f7f-b641c10b" class="nav_menu w-nav-menu"><div class="nav_spacer"></div><div class="nav_menu-list u-hflex-center-stretch u-hflex-nowrap">{% for block in section.blocks %}
    {% if block.type == "dropdown" %}
                    <div data-hover="true" data-delay="200" li-block="Dropdown" class="nav_menu-dropdown w-dropdown">
                                    <div class="nav_dropdown-toggle w-dropdown-toggle"><div class="li-settings w-embed"></div>
<div li-object="block.settings.title" class="nav_link-label">{{ block.settings.title }}</div></div>
                                    <nav class="nav_dropdown-list w-dropdown-list"><div class="li-settings w-embed"></div>
<div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div class="nav_dropdown-layout"><div class="dropdown-tabs_menu-wrap u-hflex-center-stretch u-hflex-nowrap"><div data-hover="true" data-delay="200" class="dropdown-tabs_dropdown_component w-dropdown"><div class="dropdown-tabs_dropdown_toggle w-dropdown-toggle"><div class="li-settings w-embed"></div>
<div>All</div></div><nav class="dropdown-tabs_dropdown_list w-dropdown-list"><div class="dropdown-tabs_collections_list-wrapper w-dyn-list"><div role="list" class="dropdown-tabs_collections_list u-hflex-center-top u-gap-large u-hflex-nowrap w-dyn-items">{% for collection in block.settings.collection-list %}    <div li-for="collection in block.settings.collection-list" role="listitem" class="dropdown-tabs_collections_item w-dyn-item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="dropdown-tabs_collections_item-link u-vflex-center-top u-gap-xsmall w-inline-block"><div class="dropdown-tabs_collections_thumb-wrap aspect-ratio-square"><img class="dropdown-tabs_collections_thumb" src="{{ block.settings.image.src | img_url: '704x704' }}" alt="{{ block.settings.image.alt }}" sizes="100vw" li-object:src="block.settings.image.src | img_url: '704x704'" loading="lazy" li-object:alt="block.settings.image.alt" srcset="{{ 'magnurs_collection_necklaces.jpg' | asset_url }} 500w, {{ 'magnurs_collection_necklaces.jpg' | asset_url }} 620w">
</div><div li-object="collection.title" class="text-style-allcaps text-size-small text-weight-medium">{{ collection.title }}</div><div li-object="collection.description" class="text-size-small">{{ collection.description }}</div></a>
                            
                        </div>
{% endfor %}</div>{% if block.settings.collection-list == blank %}    <div li-if="block.settings.collection-list == blank" class="collection-empty w-dyn-empty">
    <div>No Collections Added</div>    </div>
{% endif %}</div></nav></div>{% for collection in block.settings.collection-list %}    <div data-hover="true" data-delay="200" li-for="collection in block.settings.collection-list" class="dropdown-tabs_dropdown_component w-dropdown">
                                    
                            <div class="dropdown-tabs_dropdown_toggle w-dropdown-toggle"><div li-object="collection.title">{{ collection.title }}</div></div>
                            
                            <nav class="dropdown-tabs_dropdown_list w-dropdown-list"><div class="dropdown-tabs_collections_list-wrapper w-dyn-list"><div role="list" class="dropdown-tabs_collections_list u-hflex-center-top u-gap-large u-hflex-nowrap w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="dropdown-tabs_collections_item w-dyn-item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="dropdown-tabs_collections_item-link u-vflex-center-top u-gap-xsmall w-inline-block"><div class="dropdown-tabs_collections_thumb-wrap aspect-ratio-square"><img src="{{ product.featured_image.src | img_url: '704x704' }}" loading="lazy" li-object:src="product.featured_image.src | img_url: '704x704'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" class="dropdown-tabs_collections_thumb aspect-ratio-square">
</div><div li-object="product.title" class="text-style-allcaps text-size-small text-weight-medium">{{ product.title }}</div></a>
                            
                        </div>
{% endfor %}</div>{% if collection.all_products_count == 0 %}    <div li-if="collection.all_products_count == 0" class="collection-empty w-dyn-empty">
    <div>No products in this collection</div>    </div>
{% endif %}</div></nav>
                            
                        </div>
{% endfor %}</div></div></div></div></nav>
                            </div>
            {% endif %}
{% endfor %}
{% for link in linklists['main-menu'].links %}    <div li-for="link in linklists['main-menu'].links" class="nav_menu-dropdown">
                                    
                            <a li-object:href="link.url" href="{{ link.url }}" class="nav_dropdown-toggle w-inline-block"><div li-object="link.title" class="nav_link-label">{{ link.title }}</div></a>
                            
                        </div>
{% endfor %}</div></nav></div><div class="nav_right-side u-hflex-right-stretch u-gap-large u-hflex-nowrap">{% if shop.customer_accounts_optional %}    <div li-if="shop.customer_accounts_optional" class="li-if">
    <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="nav_icon-dropdown_toggle w-inline-block"><div class="nav_icon-dropdown_label">Register / Login</div></a>    </div>
{% endif %}{% render 'mini_cart' %}
</div><div class="nav_menu-button w-nav-button"><div class="menu-icon"><div class="menu-icon_line-top"></div><div class="menu-icon_line-middle"><div class="menu-icon_line-middle-inner"></div></div><div class="menu-icon_line-bottom"></div></div></div></div></div></div></div><div data-w-id="7a248e53-24e4-5d10-f026-208b4625508d" class="nav_animation-trigger"></div><div class="color-metafield-styles hide w-embed"><style>{% for color in shop.metaobjects.shopify--color-pattern.values %}
[data-color="{{ color.label.value }}"] {
background-color: {{ color.color.value }};
}
{% endfor %}
</style></div> {% schema %} {"tag":"div","name":"navbar","class":"section_navbar","blocks":[{"name":"Suggestion","type":"suggestion","settings":[{"id":"heading","type":"text","label":"Title"},{"id":"url_link","type":"url","label":"Link"}]},{"name":"Dropdown","type":"dropdown","settings":[{"id":"title","type":"text","label":"Text","default":"Dropdown Name"},{"type":"collection_list","id":"collection-list","label":"Collections"},{"id":"group-title","type":"text","label":"Group title","default":"Group"}]}],"settings":[{"id":"collection_search_featured_collection","type":"collection","label":"Search Featured Collection"},{"type":"range","id":"collection_search_featured_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Search Featured Collection","default":6}],"presets":[{"name":"navbar","category":"Liquify"}]} {% endschema %}