{% if predictive_search.performed %}    <div li-if="predictive_search.performed" class="li-if">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
<div class="u-vflex-stretch-top u-gap-xlarge">{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0" class="li-if">
    <div class="u-vflex-stretch-top u-gap-xlarge">{% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Collections</div></div><ul role="list" class="mini-cart_line-item_list w-list-unstyled">{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="mini-cart_line-item_item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="mini-cart_line-item_item-layout u-hflex-left-center u-gap-medium u-hflex-nowrap w-inline-block"><img li-object:src="collection.featured_image | img_url: '128x128'" li-object:alt="collection.featured_image.alt" src="{{ collection.featured_image | img_url: '128x128' }}" loading="lazy" alt="{{ collection.featured_image.alt }}" class="mini-cart_line-item_img aspect-ratio-square is-small">
<div li-object="collection.title" class="mini-cart_product-title text-weight-medium">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Products</div></div><ul role="list" class="mini-cart_line-item_list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="mini-cart_line-item_item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="mini-cart_line-item_item-layout u-hflex-left-center u-gap-medium u-hflex-nowrap w-inline-block"><img li-object:src="product.featured_media | img_url: '300'" li-object:alt="product.featured_image.alt" src="{{ product.featured_media | img_url: '300' }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="mini-cart_line-item_img aspect-ratio-square">
<div class="mini-cart_line-item_product-info"><div li-object="product.title" class="mini-cart_product-title text-weight-medium">{{ product.title }}</div><div class="mini-cart_line-item_price u-hflex-left-center u-gap-xxsmall"><div li-object="product.price | money" class="text-size-small">{{ product.price | money }}</div>{% if product.compare_at_price != blank %}    <div li-if="product.compare_at_price != blank" class="li-if">
    <div li-object="product.compare_at_price | money" class="text-size-small text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}</div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Pages</div></div><ul role="list" class="mini-cart_line-item_list is-small w-list-unstyled">{% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="mini-cart_line-item_item is-small">
                                    
                            <a li-object:href="page.url" href="{{ page.url }}" class="predictive-search_link w-inline-block"><div li-object="page.title">{{ page.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}</div>    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0" class="li-if">
    <div class="predictive-search_topic padding-section-small"><div class="text-style-muted">Nothing found in "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}</div>    </div>
{% endif %}{% unless predictive_search.performed and first_column_results_size > 0 %}    <div li-unless="predictive_search.performed and first_column_results_size > 0" class="li-if">
    <div class="u-vflex-stretch-top u-gap-xlarge"><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted">Suggestions</div></div><ul role="list" class="mini-cart_line-item_list is-small w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "suggestion" %}
                    <li li-block="Suggestion" class="mini-cart_line-item_item is-small">
                                    <div class="li-settings w-embed"></div>

                                    <a class="predictive-search_link w-inline-block" href="{{ block.settings.url_link }}"> <div li-object="block.settings.heading">{{ block.settings.heading }}</div> </a>

                            </li>
            {% endif %}
{% endfor %}
</ul></div><div class="predictive-search_topic"><div class="predictive-search_headline"><div li-settings="Search Featured Collection Title" class="text-style-muted">
</div>
</div><ul role="list" class="mini-cart_line-item_list w-list-unstyled">{% for product in section.settings.collection_search_featured_collection.products limit: section.settings.collection_search_featured_collection_limit %}
<li class="mini-cart_line-item_item">
    
    <a li-object:href="product.url" href="{{ product.url }}" class="mini-cart_line-item_item-layout u-hflex-left-center u-gap-medium w-inline-block"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ product.featured_image.alt }}" class="mini-cart_line-item_img aspect-ratio-square">
<div class="mini-cart_line-item_product-info"><div li-object="product.title" class="mini-cart_product-title text-weight-medium">{{ product.title }}</div><div class="mini-cart_line-item_price u-hflex-left-center u-gap-xxsmall"><div li-object="product.price | money" class="text-size-small">{{ product.price | money }}</div>{% if product.compare_at_price != blank %}    <div li-if="product.compare_at_price != blank" class="li-if">
    <div li-object="product.compare_at_price | money" class="text-size-small text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}</div></div></a>
    
</li>
{% endfor %}
</ul></div></div>    </div>
{% endunless %} {% schema %} {"tag":"div","name":"predictive_search","class":"mini-cart_content u-vflex-stretch-top u-gap-xlarge","blocks":[{"name":"Suggestion","type":"suggestion","settings":[{"id":"heading","type":"text","label":"Title"},{"id":"url_link","type":"url","label":"Link"}]}],"settings":[{"id":"collection_search_featured_collection","type":"collection","label":"Search Featured Collection"},{"type":"range","id":"collection_search_featured_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Search Featured Collection","default":6}],"presets":[{"name":"predictive_search","category":"Liquify"}]} {% endschema %}