<div class="section-custom-code w-embed w-script"><script>const assetsToLoad = [
        { key: "swiper", src: "https://unpkg.com/swiper/swiper-bundle.min.js", defer: true, type: "script" },
        { key: "inputCounter", src: "https://cdn.jsdelivr.net/npm/@finsweet/attributes-inputcounter@1/inputcounter.js", defer: true, type: "script" },
        { key: "socialShare", src: "https://cdn.jsdelivr.net/npm/@finsweet/attributes-socialshare@1/socialshare.js", defer: true, type: "script" },
        { key: "fsA11y", src: "https://cdn.jsdelivr.net/npm/@finsweet/attributes-a11y@1/a11y.js", defer: true, type: "script" },
        { key: "accordion", src: "https://cdn.jsdelivr.net/npm/@finsweet/attributes-accordion@1/accordion.js", defer: true, type: "script" },
        { key: "swiperCSS", src: "https://unpkg.com/swiper/swiper-bundle.min.css", type: "stylesheet" }
    ];
    function loadAssets(assets) {
        assets.forEach(asset => {
            if (!window[asset.key]) {
                window[asset.key] = false;
                if (asset.type === "script") {
                    let script = document.createElement("script");
                    script.src = asset.src;
                    script.defer = asset.defer || false;
                    script.onload = function () {
                        window[asset.key] = true;
                    };
                    document.head.appendChild(script);
                } else if (asset.type === "stylesheet") {
                    let link = document.createElement("link");
                    link.rel = "stylesheet";
                    link.href = asset.src;
                    link.onload = function () {
                        window[asset.key] = true;
                    };
                    document.head.appendChild(link);
                }
            }
        });
    }
    loadAssets(assetsToLoad);
</script></div><div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><div id="w-node-_09b817e0-2611-684b-6972-4b132a0a4e49-78ccc16a" class="breadcrumbs_wrapper"><div id="w-node-_09b817e0-2611-684b-6972-4b132a0a4e4a-78ccc16a" class="breadcrumbs_layout u-hflex-left-stretch u-gap-medium hide"><div class="breadcrumbs_group"><a class="breadcrumbs_link is-link" href="{{ section.settings.url_shop_all_url }}"> {{ section.settings.text_shop_all_text }} </a>
</div><div class="breadcrumbs_group u-hflex-left-center u-gap-medium"><div>/</div><div li-object:text="product.title" class="breadcrumbs_link">
{{ product.title }}
</div></div></div></div><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div id="w-node-_1e0d0a49-b5a4-9cbe-8e02-0333b8b96f3b-78ccc16a" class="product-header_images-wrapper swiper-wrapper"><div class="product-header_image-wrap swiper-slide">{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="li-if">
    <img alt="" src="../images/Magnurs_product-thumb.png" loading="lazy" class="thumbnail-image_image" x-bind:src="selected_or_first_available_variant.featured_image.src" x-bind:alt="selected_or_first_available_variant.featured_image.alt">
    </div>
{% endif %}{% if product.has_only_default_variant == true %}    <div li-if="product.has_only_default_variant == true" class="li-if">
    <img li-object:src="product.featured_image | img_url: '1280x1520'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | img_url: '1280x1520' }}" loading="lazy" class="thumbnail-image_image">
    </div>
{% endif %}</div>{% for image in product.images %}    <div li-for="image in product.images" class="product-header_image-wrap swiper-slide">
                                    <img li-object:src="image.src | img_url: '640x760'" li-object:alt="image.alt" alt="{{ image.alt }}" src="{{ image.src | img_url: '640x760' }}" loading="lazy" class="thumbnail-image_image">

                        </div>
{% endfor %}</div><div class="product-header_product-details u-vflex-stretch-top u-gap-large"><div class="product-header_heading-wrapper u-vflex-left-top u-gap-medium"><h1 li-object:text="product.title" class="product-header_heading heading-style-h2 text-color-brand">
{{ product.title }}
</h1><div class="product-header_price-wrapper"><div li-object="product.price | money" li-js-price="price" class="text-size-large text-weight-bold">{{ product.price | money }}</div><template x-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
            <div li-js-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
        <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-align-right text-style-muted">{{ product.compare_at_price | money }}</div>        </div>
    </template>
<div class="product-header_tag-list"><template x-if="selected_or_first_available_variant.available != true">
            <div li-js-if="selected_or_first_available_variant.available != true" class="product-card_tag">
        Not in Stock        </div>
    </template>
<template x-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
            <div li-js-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price" class="product-card_tag is-red">
        Sale        </div>
    </template>
</div></div></div><div class="product-header_add-to-cart w-form">{% form 'product', product, class: 'product-header_default-state u-vflex-stretch-top u-gap-medium' %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option u-vflex-stretch-top u-gap-xxsmall" data-ProductVariantsLoop="true"><div class="product-header_radio-list u-hflex-left-stretch u-gap-medium"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio_component w-radio"><template x-if="option == 'Color'">
            <div li-js-if="option == 'Color'" class="li-if">
        <img src="../images/Magnurs_product-thumb.png" loading="lazy" alt="" class="product-header_radio_image aspect-ratio-square" x-bind:src="variants.find(variant => variant.options.includes(variantName))?.featured_image.src" x-bind:alt="variants.find(variant => variant.options.includes(variantName))?.featured_image.alt">
        </div>
    </template>
<div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio_button w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'">
<span li-element="product-option-name" class="product-header_radio_label text-size-small text-weight-medium w-form-label" for="radio" x-text="variantName" :for="variantName">Yellow Gold</span></label></template>
</div></div></template>
    </div>
{% endif %}<div class="product-header_ad-to-cart-wrapper"><template x-if="selected_or_first_available_variant.available == true">
            <div li-js-if="selected_or_first_available_variant.available == true" class="product-header_quantity">
        <div class="mini-cart_line-item_quantity is-large"><button type="button" fs-inputcounter-element="decrement" class="mini-cart_line-item_quantity-adjust">-</button><input li-element="add-to-cart-quantity" type="number" name="quantity" class="mini-cart_line-item_quantity-input" x-model="quantity">
<button type="button" fs-inputcounter-element="increment" class="mini-cart_line-item_quantity-adjust">+</button></div><a li-element="add-to-cart" href="#" class="button max-width-full w-button" @click="addToCart(true)" :disabled="!addToCartButton">Add to cart</a>        </div>
    </template>
</div>{% endform %}
<div class="w-form-done"></div><div class="w-form-fail"></div></div><div class="product-header_details-grid">{% for block in section.blocks %}
    {% if block.type == "detail-block" %}
                    <div li-block="Detail Block" class="product-header_detail-box u-vflex-left-top u-gap-small">
                                    <div class="li-settings w-embed"></div>

                                    <img src="{{ block.settings.image.src | img_url: '32x32' }}" loading="lazy" li-object:src="block.settings.image.src | img_url: '32x32'" li-object:alt="block.settings.image.alt" alt="{{ block.settings.image.alt }}" class="icon-1x1-large">

                                    <div> {{ block.settings.richtext_text }} </div>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="product-header_payment-options-wrap u-vflex-center-center u-gap-medium">{% unless shop.enabled_payment_types == blank or shop.enabled_payment_types.length == 0 %}    <ul li-unless="shop.enabled_payment_types == blank or shop.enabled_payment_types.length == 0" role="list" class="payment-options_list u-hflex-center-center u-gap-xxsmall w-list-unstyled">
    {% for type in shop.enabled_payment_types %}    <li li-for="type in shop.enabled_payment_types" class="payment-options_item">
                                    
                            <div li-object="type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color'">{{ type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color' }}</div>
                            
                        </li>
{% endfor %}    </ul>
{% endunless %}<div>Guaranteed Safe Checkout</div></div><div class="payment-options_share-list u-hflex-between-stretch u-gap-large"><a fs-socialshare-element="Facebook" href="#" class="payment-options_share-item w-inline-block"><img src="{{ 'magnurs_icon_facebook.svg' | asset_url }}" loading="lazy" alt="">
</a><a fs-socialshare-element="Twitter" href="#" class="payment-options_share-item w-inline-block"><img src="{{ 'magnurs_icon_twitter.svg' | asset_url }}" loading="lazy" alt="">
</a></div><div fs-accordion-single="true" fs-accordion-element="group" class="product-header_description-wrap u-vflex-left-top u-gap-small">{% if product.description %}    <div li-if="product.description" fs-accordion-element="accordion" class="accordeon_item">
    <div id="accordion-1-header-1" tabindex="0" role="button" aria-controls="accordion-1-content-1" aria-expanded="false" fs-accordion-element="trigger" class="accordeon_header"><h2 class="heading-style-h3 text-size-small text-color-brand">
{{ section.settings.text_heading }}
</h2>
<div fs-accordion-element="arrow" class="accordeon_icon icon-embed-xsmall is-active-accordion w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M18 12L6 12" stroke="var(--mappings--text--primary)" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 6L12 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div id="accordion-1-content-1" aria-labelledby="accordion-header-1" fs-accordion-element="content" class="accordeon_content"><div class="accordeon_body"><div li-object="product.description" class="text-rich-text max-width-large text-size-small w-richtext">{{ product.description }}</div></div></div>    </div>
{% endif %}{% for block in section.blocks %}
    {% if block.type == "accordeon" %}
                    <div li-block="Accordeon" fs-accordion-element="accordion" class="accordeon_item">
                                    <div id="accordion-1-header-1" tabindex="0" role="button" aria-controls="accordion-1-content-1" aria-expanded="false" fs-accordion-element="trigger" class="accordeon_header"><h2 li-object="block.settings.heading" class="heading-style-h3 text-size-small text-color-brand">{{ block.settings.heading }}</h2><div fs-accordion-element="arrow" class="accordeon_icon icon-embed-xsmall is-active-accordion w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M18 12L6 12" stroke="var(--mappings--text--primary)" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 6L12 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg></div><div class="li-settings w-embed"></div>
</div>
                                    <div id="accordion-1-content-1" aria-labelledby="accordion-header-1" fs-accordion-element="content" class="accordeon_content"><div class="accordeon_body"><div class="text-rich-text max-width-large text-size-small w-richtext"> {{ block.settings.richtext_text }} </div>
</div></div>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></div> {% schema %} {"tag":"section","name":"product","class":"section_product-header","blocks":[{"name":"Detail Block","type":"detail-block","settings":[{"id":"image","type":"image_picker","label":"Image"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Free worldwide shipping on allorder over $5000<\/p>"}]},{"name":"Accordeon","type":"accordeon","settings":[{"id":"heading","type":"text","label":"Heading","default":"Heading"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>\n                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\n                        <\/p>"}]}],"settings":[{"id":"url_shop_all_url","type":"url","label":"Shop All URL"},{"id":"text_shop_all_text","type":"text","label":"Shop All Text","default":"Shop All"},{"id":"text_heading","type":"text","label":"Heading","default":"Description"}],"presets":[{"name":"product","category":"Liquify"}]} {% endschema %}