<div class="padding-global"><div class="w-layout-blockcontainer container-large w-container"><script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)"><div id="w-node-_1e0d0a49-b5a4-9cbe-8e02-0333b8b96f3b-78ccc16a" class="product-header_images-wrapper swiper-wrapper"><div class="product-header_image-wrap swiper-slide">{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="li-if">
    <img class="thumbnail-image_image" src="../images/sunflower_feature_3.webp" alt="" sizes="(max-width: 479px) 100vw, (max-width: 991px) 92vw, 46vw" loading="lazy" srcset="{{ 'sunflower_feature_3-p-500.webp' | asset_url }} 500w, {{ 'sunflower_feature_3-p-800.webp' | asset_url }} 800w, {{ 'sunflower_feature_3.webp' | asset_url }} 960w" x-bind:alt="selected_or_first_available_variant.featured_image.alt" x-bind:src="selected_or_first_available_variant.featured_image.src">
    </div>
{% endif %}{% if product.has_only_default_variant == true %}    <div li-if="product.has_only_default_variant == true" class="li-if">
    <img li-object:src="product.featured_image | img_url: '640x760'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | img_url: '640x760' }}" loading="lazy" class="thumbnail-image_image">
    </div>
{% endif %}</div>{% for image in productImages %}    <div li-for="image in productImages" class="product-header_image-wrap swiper-slide">
                                    <img li-object:src="image.src | img_url: '640x760'" li-object:alt="image.alt" alt="{{ image.alt }}" src="{{ image.src | img_url: '640x760' }}" loading="lazy" class="thumbnail-image_image">

                        </div>
{% endfor %}</div><div id="w-node-_7048b639-be81-c25f-3e39-a62262971160-78ccc16a" class="product-header_product-details u-vflex-stretch-top u-gap-large"><div class="product-header_heading-wrapper u-vflex-left-top u-gap-medium"><h1 li-object:text="product.title" class="product-header_heading heading-style-h2 text-color-brand">
{{ product.title }}
</h1><div class="product-header_price-wrapper"><div li-object="product.price | money" li-js-price="price" class="text-size-large text-weight-bold">{{ product.price | money }}</div><template x-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
            <div li-js-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
        <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-align-right text-style-muted">{{ product.compare_at_price | money }}</div>        </div>
    </template>
<div class="product-header_tag-list"><template x-if="selected_or_first_available_variant.available != true">
            <div li-js-if="selected_or_first_available_variant.available != true" class="product-card_tag">
        Not in Stock        </div>
    </template>
<template x-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price">
            <div li-js-if="selected_or_first_available_variant.compare_at_price > selected_or_first_available_variant.price" class="product-card_tag is-red">
        Sale        </div>
    </template>
</div></div></div><div class="product-header_add-to-cart w-form">{% form 'product', product, class: 'product-header_default-state u-vflex-stretch-top u-gap-medium' %}
{% if product.has_only_default_variant != true %}    <div li-if="product.has_only_default_variant != true" class="product-header_option-list">
    <template x-for="(option, optionKey) in product.options" :key="optionKey">
    <div li-element="product-options-loop" class="product-header_option u-vflex-stretch-top u-gap-xxsmall" data-ProductVariantsLoop="true"><div class="product-header_radio-list u-hflex-left-stretch u-gap-small"><template x-for="(variantName, variantKey) in options_by_name[option].option.values" :key="variantName">
    <label li-element="product-option-loop" class="product-header_radio_component w-radio"><div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio_button w-radio-input"></div><input type="radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :data-name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio" :class="firstOptionHasAvailableChildren[variantName] ? '' : 'data-disabled'">
<span li-element="product-option-name" class="text-size-regular text-weight-semibold w-form-label" for="radio" x-text="variantName" :for="variantName">XS</span></label></template>
</div></div></template>
    </div>
{% endif %}<div class="product-header_ad-to-cart-wrapper"><template x-if="selected_or_first_available_variant.available == true">
            <div li-js-if="selected_or_first_available_variant.available == true" class="product-header_quantity">
        <div class="mini-cart_line-item_quantity is-large"><button class="mini-cart_line-item_quantity-adjust">-</button><input li-element="add-to-cart-quantity" class="mini-cart_line-item_quantity-input" value="1" x-model="quantity">
<button class="mini-cart_line-item_quantity-adjust">+</button></div><a li-element="add-to-cart" href="#" class="button max-width-full w-button" @click="addToCart(true)" :disabled="!addToCartButton">Add to cart</a>        </div>
    </template>
</div>{% endform %}
<div class="w-form-done"></div><div class="w-form-fail"></div></div><div class="product-header_details-grid">{% for block in section.blocks %}
    {% if block.type == "detail-block" %}
                    <div li-block="Detail Block" class="product-header_detail-box u-vflex-left-top u-gap-small">
                                    <img src="{{ block.settings.image.src | img_url '32x32' }}" loading="lazy" li-object:src="block.settings.image.src | img_url '32x32'" li-object:alt="block.settings.image.alt" alt="{{ block.settings.image.alt }}" class="icon-1x1-large">

                                    <div> {{ block.settings.richtext_text }} </div>

                                    <div class="li-settings w-embed"></div>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="product-header_payment-options-wrap u-vflex-center-center u-gap-medium"><ul role="list" class="payment-options_list u-hflex-center-center u-gap-xxsmall w-list-unstyled">{% for type in shop.enabled_payment_types %}    <li li-for="type in shop.enabled_payment_types" class="payment-options_item">
                                    
                            <div li-object="type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color'">{{ type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color' }}</div>
                            
                        </li>
{% endfor %}</ul><div>Guaranteed Safe Checkout</div></div><div class="payment-options_share-list u-hflex-between-stretch u-gap-large"><a fs-socialshare-element="Facebook" href="#" class="payment-options_share-item w-inline-block"><img src="{{ 'magnurs_icon_facebook.svg' | asset_url }}" loading="lazy" alt="">
</a><a fs-socialshare-element="Twitter" href="#" class="payment-options_share-item w-inline-block"><img src="{{ 'magnurs_icon_twitter.svg' | asset_url }}" loading="lazy" alt="">
</a></div><div class="product-header_description-wrap u-vflex-left-top u-gap-small"><h2 class="heading-style-h3">
{{ section.settings.text_headline }}
</h2>
<div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div></div></div></div></div></div><div class="custom-code w-embed w-script"><script>document.addEventListener("DOMContentLoaded", function () {
        let swiper;
        function initSwiper() {
            swiper = new Swiper('#swiper-{{section.index}}', {
                slidesPerView: 'auto',
                navigation: {
                    nextEl: '#swiper-nav-right-{{section.index}}',
                    prevEl: '#swiper-nav-left-{{section.index}}'
                },
                on: {
                    reachEnd: function () {
                        document.querySelector('#swiper-nav-right-{{section.index}}').classList.add('is-disabled');
                    },
                    reachBeginning: function () {
                        document.querySelector('#swiper-nav-left-{{section.index}}').classList.add('is-disabled');
                    },
                    fromEdge: function () {
                        document.querySelector('#swiper-nav-right-{{section.index}}').classList.remove('is-disabled');
                        document.querySelector('#swiper-nav-left-{{section.index}}').classList.remove('is-disabled');
                    }
                }
            });
        }
        function handleResize() {
            if (window.innerWidth <= 767) {
                if (!swiper) {
                    initSwiper();
                }
            } else {
                if (swiper) {
                    swiper.destroy(true, true);
                    swiper = null;
                }
            }
        }
        handleResize();
        window.addEventListener('resize', handleResize);
        // Add new functionality for .product-header_radio click
        document.querySelectorAll('.product-header_radio').forEach(radio => {
            radio.addEventListener('click', function() {
                const productHero = document.querySelector('#product-hero');
                if (productHero) {
                    productHero.scrollIntoView({ behavior: 'smooth' });
                }
                if (swiper) {
                    swiper.slideTo(0, 300); // Move to the first slide with 300ms animation
                }
            });
        });
    });
</script></div> {% schema %} {"tag":"section","name":"product","class":"section_product-header","blocks":[{"name":"Detail Block","type":"detail-block","settings":[{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Free worldwide shipping on allorder over $5000<\/p>"},{"id":"image","type":"image","label":"Image"}]}],"settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Description"}],"presets":[{"name":"product","category":"Liquify"}]} {% endschema %}